@import '../variables/colors';
@import '../variables/global';

.media-container {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    margin: 8px;
}

.filters {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding: 10px 30px;
    
    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px 0;
    }

    .dropdowns {
        .dropdown {
            position: relative;
            display: inline-block;

            &__btn {
                padding: 10px 65px 10px 10px;
                background-color: $off-white;
                text-transform: uppercase;
                border: none;
                border-bottom: 2px solid $light-grey;
                font-family: $font-body;
                font-weight: 700;
                margin: 0 5px;
                color: $dark-grey;
                cursor: pointer;
            }
        }
    }

    .input-icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%,-50%);
        color: $dark-grey;

        &--search {
            font-size: 22px;
            transform: translate(-50%, -55%);
        }
    }

    .search {
        position: relative;
        
        input {
            padding: 8px 5px;
            border: 1px solid $light-grey;
            padding-right: 30px;
            border-radius: 4px;
        }
    }

    .radios {
        label {
            padding: 0 10px 0 5px;
        }
    }

    &__clear {
        color: $light-blue;
        font-weight: 700;
        font-size: 14px;
        border: none;
        background-color: transparent;
        text-decoration: underline;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            color: $dark-blue;
        }
    }

    label {
        font-weight: 700;
        font-size: 16px;
    }
}

.content {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .media {
        flex: 1 0 32%;

        &__image {
            flex: 1 0 100%;
            display: block;
            margin: auto;
            width: 100%;
            min-width: 180px;
            max-width: 375px;
            height: auto;
            border-radius: 4px;
        }

        &__title {
            margin-bottom: 5px;
        }

        &__genres {
            font-weight: 700;
            font-size: 14px;
            margin-top: 0;
        }
    }
}