body {
    margin: 0;
    font-family: 'Roboto', 'Montserrat', sans-serif;
  }
  
  .exercise-header {
    padding: 1rem 0;
    margin: 2rem 0;
    text-align: center;
    color: #fff;
    background-color: #00a4bd;
  }
  
  .section {
    padding: 50px 25px;
  }
  
$white: #fff;
$light-grey: #cecece;
$dark-grey: #747474;
$off-white: #f6f4f5;
$orange: #ff6c01;
$light-blue: #00a4bd;
$dark-blue: #006d7e;